   <!--<div class="jumbotron">
        
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>-->
   
      <!-- Three columns of text below the carousel -->
      <div class="row" style="margin-top:20px;">
              <div class="col-md-6" *ngFor="let job of allJobs" style="padding-left:0; max-height:175px; height:175px;">
         <md-card>
             <md-card-subtitle>{{job.title | uppercase | truncate : 50 }}</md-card-subtitle>
            <md-card-content>{{job.desc | truncate : 50}}</md-card-content>
             <md-card-actions> 
                 <button md-raised-button color="accent"  title="view details">View Details</button>
             </md-card-actions>
            </md-card>
    </div> 
      </div><!-- /.row -->
